
pnad_painel/PNADC_012019_20190729.txt
pnad_painel/PNADC_012020.txt
pnad_painel/PNADC_022019.txt
pnad_painel/PNADC_022020.txt
pnad_painel/PNADC_032019.txt
pnad_painel/PNADC_032020.txt
pnad_painel/PNADC_042019.txt
pnad_painel/PNADC_042020.txt
pnad_painel/pnadcontinua/.Rhistory
pnad_painel/pnadcontinua/Painel_amostra.dta
pnad_painel/pnadcontinua/Painel_completo.dta
pnad_painel/pnadcontinua/PNAD_painel_6_rs.dta
pnad_painel/pnadcontinua/PNAD_painel_7_rs.dta
pnad_painel/pnadcontinua/PNAD_painel_8_rs.dta
pnad_painel/pnadcontinua/PNADC2019.dta
pnad_painel/pnadcontinua/PNADC2020.dta

